*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {

  // Header
  div.header-container {
    position: relative;
    display: flex;
    padding: 50px 70px;
    z-index: 10;

    .logo-area {
      position: relative;
      flex-grow: 9;

      img {
        position: absolute;
        width: 200px;
        height: 70px;
        top: 50%;
        margin-top: -35px;
      }
    }

    .signin-area {
      flex-grow: 1;
      position: relative;
      text-align: right;
    }
  }

  // Body(Top)
  div.body-top-container {
    .img-wrapper {
      position: relative;
      height: 693.368px;

      img {
        position: absolute;
        width: 100%;
        height: 693px;
        object-fit: cover;
        top: -100px;
      }

      &:after {
        content: '';
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .main-text1 {
      position: absolute;
      top: 150px;
      left: calc(50% - 350px);
    }

    .main-text2 {
      position: absolute;
      top: 310px;
      left: calc(50% - 350px);
    }

    .main-text3 {
      position: absolute;
      top: 370px;
      left: calc(50% - 350px);
    }


    .main-input-email {
      position: absolute;
      top: 450px;
      left: calc(50% - 350px);

      input {
        position: relative;
        width: 550px;
        height: 60px;
        padding-left: 10px;
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        border: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        &:invalid {
          border: 2.0px solid red;
        }

        &:focus {
          outline: 0;
        }

        &:focus+label {
          background: #008080;
          display: inline-block;
          left: 0;
          top: -19px;
          width: 20%;
          color: white;
          font-size: 70%;
          padding: 1px 6px;
          text-transform: uppercase;
          z-index: 2;
        }
      }

      label {
        position: relative;
        display: inline-block;
        left: calc(-100% + 150px);
        width: 150px;
        padding-left: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        color: #999;
        z-index: -1;
        transition: // not padding
          color 0.2s,
          top 0.2s,
          bottom 0.2s,
          right 0.2s,
          left 0.2s;
      }
    }

    .main-register-email {
      position: absolute;
      top: 450px;
      left: calc(50% + 200px);
    }

  }


  // Body(Middle1)
  div.body-middle1-container {
    display: flex;
    position: relative;
    top: -100px;
    border-top: 0.5rem solid #222;
    border-bottom: 0.5rem solid #222;
    height: 466.363px;
    align-items: center;
    justify-content: center;

    .spacer1 {
      width: 70%;
    }

    .spacer2 {
      width: 60%;
    }

    .message {
      position: relative;
      color: #fff;
      width: 100%;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 1.4rem;
      }
    }

    .image {
      position: relative;
      color: #fff;
      width: 100%;
      padding-left: 60px;

      img {
        position: relative;
        width: 500px;
        z-index: 1;
      }

      .animation {
        position: absolute;
        top: 70px;
        left: 118px;

        video {
          width: 390px;
        }
      }
    }
  }

  // Body(Middle2)
  div.body-middle2-container {
    display: flex;
    position: relative;
    top: -100px;
    border-bottom: 0.5rem solid #222;
    height: 466.363px;
    align-items: center;
    justify-content: center;

    .spacer1 {
      width: 70%;
    }

    .spacer2 {
      width: 60%;
    }

    .message {
      position: relative;
      color: #fff;
      width: 100%;
      padding: 0 10px;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 1.4rem;
      }
    }

    .image {
      position: relative;
      color: #fff;
      width: 100%;

      img {
        position: relative;
        width: 500px;
        z-index: 1;
      }
    }

  }

  // Body(Middle3)
  div.body-middle3-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    border-bottom: 0.5rem solid #222;
    min-height: 95vh;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.4rem;
    }

    .title {
      position: relative;
      width: 100%;
      height: 20%;
      color: #fff;
      text-align: center;
    }

    .faq {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;

      .spacer1 {
        width: 50%;
      }

      .spacer2 {
        width: 50%;
      }

      .accordition {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-size: 1.5rem;
      }

      .accordition-item {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 1.0);
        color: #fff;
        font-weight: bold;
      }

      .accordition-item-btn {
        background-color: #1a1a1a;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
      }

      .accordition-item-btn:hover {
        cursor: pointer;
      }

      .accordition-item-btn:before {
        display: inline-block;
        content: '';
        height: 10px;
        width: 10px;
        margin-right: 12px;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(-45deg);
      }

      .accordition-item-btn[aria-expanded='true']:before,
      .accordition-item-btn[aria-selected='true']:before {
        transform: rotate(45deg);
      }

      .accordition-item-panel {
        padding: 10px;
        font-weight: normal;
        font-size: 1.2rem;
        color: #ccc;
        line-height: 2.0rem;
        background-color: #1a1a1a;
        border-top: 3px solid rgba(0, 0, 0, 0.1);
      }

    }

    .registration {
      position: relative;
      top: 30px;
      width: 100%;
      height: 25%;

      p {
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
      }

      .main-input-email {
        position: absolute;
        top: 70px;
        left: calc(50% - 350px);

        input {
          position: relative;
          width: 550px;
          height: 60px;
          padding-left: 10px;
          font-family: "Roboto", sans-serif;
          font-size: 1.2rem;
          border: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          &:invalid {
            border: 1.5px solid red;
          }

          &:focus {
            outline: 0;
          }

          &:focus+label {
            background: #008080;
            display: inline-block;
            left: 0;
            top: -19px;
            width: 20%;
            color: white;
            font-size: 70%;
            padding: 1px 6px;
            text-transform: uppercase;
            z-index: 2;
          }
        }

        label {
          position: relative;
          display: inline-block;
          left: calc(-100% + 150px);
          width: 150px;
          padding-left: 15px;
          font-family: "Roboto", sans-serif;
          font-size: 1.2rem;
          color: #999;
          z-index: -1;
          transition: // not padding
            color 0.2s,
            top 0.2s,
            bottom 0.2s,
            right 0.2s,
            left 0.2s;
        }
      }

      .main-register-email {
        position: absolute;
        top: 70px;
        left: calc(50% + 200px);
      }
    }
  }

  // Footer-container
  div.footer-container {
    display: flex;
    position: relative;
    height: 20vh;
    top: -100px;
    padding-top: 70px;

    .spacer1 {
      width: 100%;
    }

    .spacer2 {
      width: 100%;
    }

    p a {
      text-decoration: none;
      color: #333333;
    }

    .footer-area1 {
      width: 70%;
    }

    .footer-area2 {
      width: 70%;
    }

    .footer-area3 {
      width: 70%;
    }

    .footer-area4 {
      width: 70%;
    }
  }

}


@media screen and (max-width: 1023px) {
  .App {
    div.header-container {
      display: flex;
      padding: 50px 20px;

      .logo-area {
        position: relative;
        flex-grow: 2;
      }
    }

    div.body-middle1-container {
      flex-direction: column;
      height: 699.5445px;

      .message {
        text-align: center;
      }

      .image {
        left: calc(50% - 310px);
      }
    }

    div.body-middle2-container {
      flex-direction: column-reverse;
      height: 699.5445px;

      .message {
        text-align: center;
      }

      .image {
        text-align: center;
      }
    }

    div.body-middle3-container {
      min-height: 100vh;

      .faq {
        .spacer1 {
          width: 10%;
        }

        .spacer2 {
          width: 10%;
        }
      }
    }

    // Footer-container
    div.footer-container {
      padding-top: 30px;
    }
  }
}