*,
*:before,
*:after {
  box-sizing: border-box;
}

// .App {

// }


@media screen and (max-width: 1023px) {
  .App {
    div.header-container {
      display: flex;
      padding: 50px 20px;

      .logo-area {
        position: relative;
        flex-grow: 2;
      }
    }

    div.body-middle1-container {
      flex-direction: column;
      height: 699.5445px;

      .message {
        text-align: center;
      }

      .image {
        left: calc(50% - 310px);
      }
    }

    div.body-middle2-container {
      flex-direction: column-reverse;
      height: 699.5445px;

      .message {
        text-align: center;
      }

      .image {
        text-align: center;
      }
    }

    div.body-middle3-container {
      min-height: 100vh;

      .faq {
        .spacer1 {
          width: 10%;
        }

        .spacer2 {
          width: 10%;
        }
      }
    }

    // Footer-container
    div.footer-container {
      padding-top: 30px;
    }
  }
}